/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&family=Mynerve&display=swap');

.loaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Mynerve', cursive;
    font-size: 54px;
    width: 100%;
}


@media only screen and (max-width : 1000px){
    .loaderDiv{
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        object-fit: contain;
        height: auto;
    }

    .loaderDiv img {
        width: 50%;
    }
}