* {
    font-family: 'Mynerve', cursive;
}

.Div {
    display: flex;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPjUpb_8Gs1UEi6QyYgRFzFp3sWRmTazMR1g&usqp=CAU");
    background-attachment: fixed;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LogoImg {
    filter: drop-shadow( 0 10px 5px rgba(0, 0, 0, 0.445));
}

.BtnHome {
    padding: .5rem;
    background-color: #f8e5e5;
    box-shadow: 0 0 10px #000000,inset 0 0 5px #d938388d;
    border: none;
    border-radius: 15px;
    transition: box-shadow .2s linear;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

.BtnHome:hover {
    box-shadow: 0 0 15px #000000, 0 0 2px #d938388d;
}

.BtnHome:active {
    box-shadow: inset 0 0 5px #000000, 0 0 2px #d938388d;
}

.FormDiv {
    background: #81818171;
    backdrop-filter: blur(2px);
    width: 50vw;
    padding: 2rem;
    border-radius: 25px;
    box-shadow:inset 0 0 20px #000000;
    display: grid;
    place-content: center;
}

.FormDivDiv {
    background: #ffcecea9;
    padding: 2rem;
    border-radius: 20px;
    width: 45vw;
    box-shadow: 0 0 20px #000000,inset 0 0 10px #d938388d;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    font-size: 20px;
    text-align: center;
}

.FormDivDiv label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FormDivDiv select {
    text-align: center;
}

.FormDivDiv button {
    font-weight: 700;
    font-size: medium;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    background-color: #6d5252b0;
}

.FormDivDiv button:disabled {
    background-color: #969696b0;
}

.FormDivDiv h1 {
    text-shadow: 0 0 15px #ff4040;
}

.FormDivDiv input {
    padding: .5rem;
    background-color: #ffdcdc;
    border: none;
    border-radius: 20px;
    font-size: 18px;
}

.imgLook {
    position: absolute;
    transform: rotate(-90deg);
    transition: all 2s linear;
    left: -9.5vw;
    z-index: 1000;
    top: 40vh;
    filter: drop-shadow(0 -15px 5px #00000083);
    animation: shake .2s infinite alternate-reverse;
}

.ErrorMsg {
    text-shadow: 0 0 5px red;
    background-color: #ff0000;
    color: #f8e5e5;
    width: 50%;
    border-radius: 10px  75% 75% 10px;
}

.ErrorMsg1 {
    position: fixed;
    padding: .5rem;
    width: 40vw;
    z-index: 1000;
    right: -21vw;
    border-radius: 50% 10px 10px 50%;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    background-color: #ff0000;
    color: #f8e5e5;
    width: 50%;
}

.PropertyName {
    font-weight: 600;
    text-shadow: 0 0 5px #d93838d4;
}

@keyframes shake {
    0% { top : 39.9vh }
    20% { top : 40vh }
    100% { top : 40.1vh }
  }

  @media only screen and (max-width : 1000px) {
    .imgLook{
        object-fit: contain;
        height: 50%;
        width: 50%;
    }
    .FormDivDiv{
        width: 75%;
    }
  }