/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&family=Mynerve&display=swap');

/* STYLES */

.LandingDiv {
    display: grid;
    place-content: center;
    height: 100vh;
    gap: 1.5rem;
    background-image: url('https://img.freepik.com/vector-gratis/marco-vector-perros-sobre-fondo-blanco_53876-127700.jpg?t=st=1678060243~exp=1678060843~hmac=43a67b1e0e54c5e927f64549aead437fbbb5f592427395d3601627b6fc496633');
    background-color: linear-gradient(to bottom, #ffdcdc, #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Mynerve', cursive;
    font-size: 44px;
    text-shadow: 0 0 15px #ff6969;
    text-align: center;
}

.btnLand {
    padding: 1rem;
    font-size: larger;
    border-radius: 25px;
    background-color: #ffb4b4c3;
    box-shadow: 0 0 10px black, inset 0 0 10px #ffdcdc;
    transition: box-shadow .2s linear;
    text-decoration: none;
}

.btnLand:hover {
    box-shadow: 0 0 25px black, inset 0 0 15px #ffdcdc;
    transition: box-shadow .2s linear;
}

.btnLand:active {
    box-shadow: inset 0 0 15px black, 0 0 15px #ffdcdc;
    display: grid;
}

@media only screen and (max-width : 1000px) {
    .LandingDiv{
        padding: 1rem;
        display: block;
        font-size: 24px;
        background-color: red;
        background-image: url('https://wallpaperaccess.com/full/115431.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .LandingDiv div {
        margin-top: 1.5rem;
    }
    
    .btnLand{
        border-radius: 50px;
    }
}