.NoDogsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.NoDogsDiv img {
    width: 50vw;
    filter: drop-shadow(0 -20px 10px #000000c9);
}