/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&family=Mynerve&display=swap');

/* STYLES */
.CardDiv {
    backdrop-filter: blur(3px);
    background: linear-gradient(to top left, #ffffff53, #ffffff);
    padding: 1rem;
    border-radius: 40px;
    font-family: 'Mynerve', cursive;
    box-shadow: 0 0 10px #000000, 0 0 30px #d938388d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s linear;
}

.CardDiv:hover {
    box-shadow: 0 0 20px #000000, inset 0 0 30px #d938388d;
    backdrop-filter: blur(5px);
}

.CardDiv img {
    width: 250px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 25px #da7e7e, 0 0 30px #ff9595;
    border: 2px solid black;
}

.temp {
    text-shadow: 0 0 10px rgb(255, 0, 0);
}

.Link {
    text-decoration: none;
    color: black;
}