.Home {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPjUpb_8Gs1UEi6QyYgRFzFp3sWRmTazMR1g&usqp=CAU");
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Mynerve', cursive;
    overflow: hidden;
}

.contentDiv {
    padding: .5rem 0 ;
    display: flex;
    gap: 1rem 0;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: calc(100vh - 20vh);
}

.DivDivFil {
    display: flex;
    gap: .2rem;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.DivFilters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .2rem;
    align-items: center;
    justify-content: center;
    transition: all .3s linear;
}

.FiltersBtn {
    background-color: #d938388d;
    padding: .5rem;
    border-radius: 20px;
    box-shadow: 0 0 10px #000000,inset 0 0 5px #d938388d;
    cursor: pointer;
    transform: translateY(20px);
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955) linear;
}

.FiltersBtn:hover {
    box-shadow: inset 0 0 10px #000000, 0 0 5px #d938388d;
}

.DivFiltersHover {
    opacity: 0;
    transition: all .3s linear;
}

.DivFilters:hover .FiltersBtn {
    transform: translateY(-5px);
    transition: all .3s linear;
}

.DivFilters:hover .DivFiltersHover {
    opacity: 1;
    transition: all .3s linear;
}

.DivFilters:hover .FiltersBtn {
    box-shadow: inset 0 0 10px #000000, 0 0 5px #d938388d;
}

.LogoImg {
    transform: rotateY(180deg);
    filter: drop-shadow( 15px -5px 8px #00000085);
    transition: all .2s linear;
}

.LogoImg:hover {
    filter: drop-shadow( 15px -5px 50px #00000085);
}

.divSearch {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.divSearch:hover button {
    transition: all .3s linear;
}

.divSearch input {
    opacity: 0;
    transition: all .3s linear;
}

.divSearch:hover input {
    opacity: 1;
    transition: all .3s linear;
}

.BtnSearch {
    padding: .5rem;
    background-color: #f8e5e5;
    box-shadow: 0 0 10px #000000 ,inset 0 0 5px #d938388d;
    border: none;
    border-radius: 15px;
    transition: box-shadow .2s linear;
    text-decoration: none;
    font-family: 'Mynerve', cursive;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    transition: all .3s linear;
}


.InputSearch {
    padding: .5rem;
    border: none;
    border-radius: 15px;
    background-color: #fdcccc;
    box-shadow: 0 0 10px #000000,inset 0 0 5px #d938388d;
    font-family: 'Mynerve', cursive;
    font-weight: 600;
    font-size: 16px;
    transition: all .2s linear;
}

.InputSearch:hover {
    box-shadow: 0 0 20px #000000,inset 0 0 5px #d938388d;
}

.InputSearch:focus-visible {
    box-shadow: 0 0 20px #000000,inset 0 0 5px #d938388d;
    outline: none;
    border: dotted 2px #d93838;
    opacity: 1;
}


.BtnHome {
    padding: .5rem;
    background-color: #f8e5e5;
    box-shadow: 0 0 10px #000000 ,inset 0 0 5px #d938388d;
    border: none;
    border-radius: 15px;
    transition: box-shadow .2s linear;
    text-decoration: none;
    font-family: 'Mynerve', cursive;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
}

.BtnHome:disabled {
    background-color: #9c9999;
    box-shadow: 0 0 15px #000000;
    color: #3f3f3f;
}

.BtnHome:hover {
    box-shadow: 0 0 15px #000000, 0 0 2px #d938388d;
}

.BtnHome:active {
    box-shadow: inset 0 0 5px #000000, 0 0 2px #d938388d;
}

.NavBar {
    padding: .5rem 0 0 0;
    background: linear-gradient(to bottom, #ffffffd8 60%, #ffffff00 );
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.HomeDiv {
    display: grid;
    background-attachment: fixed;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 1.5rem;
    padding: 0 2rem;
    justify-content: space-around;
    align-items: center;
}

.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.spanPagination {
    padding: .5rem 1rem;
    background-color: #ffcccc;
    box-shadow: 0 0 5px #000000;
    border: none;
    border-radius: 25px;
    font-weight: 900;
    color: #000000;
    cursor: none;
}

@media only screen and (max-width : 480px) {
    .Home {
        width: auto;
        overflow: auto;
        height: auto;
    }

    .HomeDiv{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .contentDiv{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }
}